<h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
   <p><%= link_to "Add a review", new_restaurant_review_path(@restaurant)  %></p>
  <% @restaurant.reviews.each do |r| %>
  <%= '*' * r.rating %>
  <br>
  <%= r.content %>
  <% end %>

<br>
<%= link_to "Back to list", restaurants_path, class: 'btn btn-primary'  %>
